.demo4{
	background: url(//i.thsi.cn/sns/circle/wapcircle/feed/new-icons-info2.png) no-repeat;
	background-size: 100%;
}

.demo5{
	background: url(//i.thsi.cn/sns/circle/wapcircle/img2/feed/feed-newzan.png) no-repeat;
	background-size: 100%;
}
