.demo1{
	background: url(//i.thsi.cn/sns/circle/wapcircle/img2/feed/new-icons-feedchannel.png) no-repeat;
	background-size: 100%;
}

.demo2{
	//background: url(//i.thsi.cn/sns/circle/wapcircle/img2/feed/new-icons-feedcourse.png) no-repeat;
	background: url(//i.thsi.cn/sns/circle/wapcircle/img2/feed/new-icons-feedcourse.png) no-repeat;
	background-size: 100%;
}

.demo3{
	background: url(//i.thsi.cn/sns/circle/wapcircle/img2/feed/feed-newread.png) no-repeat;
	background-size: 100%;
}

